body {
  background-color: #100631;
  padding: 0;
  color: rgb(201, 196, 196);
  margin: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.btn,
.btn-cv {
  background-color: #d99804;
  padding: 2%;
  width: 25%;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 4%;
}

.btn-cv {
  background-color: transparent;
  border: 1px solid #d99804;
  color: #d99804;
  margin-left: 2%;
}

.name {
  color: #d99804;
}

.home {
  padding: 2%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home .item1 div {
  width: 100%;
}

.title {
  width: 40%;
  margin: 2%;
  border-left: 2px solid #d99804;
  border-bottom: 2px solid #d99804;
  padding: 2%;
}

.home .item1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  width: 50%;
}
.home .item2 {
  background-image: radial-gradient(#d99804 1px, transparent 3px);
  background-size: 50px 50px;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.quote {
  color: #d99804;
  font-size: 1.5rem;
  font-style: italic;
  width: 80%;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.sidebar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  width: 40%;
  padding: 1%;
  z-index: 1000;
  border-radius: 50px;
}
.transparent {
  background-color: rgba(2, 2, 39, 0.9); /* 50% transparency */
  width: 40%;
  padding: 1.5%;
  z-index: 1000;
  border-radius: 50px;
}
.sidebar ul li a {
  color: rgb(201, 196, 196);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
}

.sidebar ul li a i {
  display: none;
}

/* about */

.about {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  color: #d99804;
}

.bio {
  width: 70%;
  border: 1px solid #d99804;
  padding: 2%;
  border-radius: 10px;
}

.bio p {
  line-height: 30px;
  font-size: 1.2rem;
  text-align: justify;
}

/* skills */

.skills {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1%;
}

.datascience,
.web {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.4px solid rgb(201, 196, 196);
  margin: 1%;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

.skill-items {
  width: 60%;
}

.skill-items ul li {
  font-size: 1.2rem;
  line-height: 30px;
  text-align: justify;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.skill-items ul li img {
  width: 20px;
  margin: 2%;
}

.container h2 {
  padding: 2%;
  border-right: 2px solid #d99804;
  border-top: 2px solid #d99804;
  border-radius: 10px;
}

/* portfolio */

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.ml-projects,
.web-dev-project {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
}

.projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 4;
}

.ml-projects h2,
.web-dev-project h2 {
  border-radius: 10px;
  border-bottom: 2px solid #d99804;
  padding: 1%;
}

.portfolio p {
  font-size: 1.2rem;
  line-height: 30px;
  text-align: justify;
}

.portfolio p a {
  text-decoration: none;
  font-weight: bold;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 1%;
}

.project img {
  width: 100%;
  height: 16rem;
}

.project-title {
  position: relative;
  top: -100px;
  width: 95%;
  padding: 1%;
  background-color: rgba(2, 2, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(201, 196, 196);
}

.project-title p {
  font-size: 1.2rem;
  text-align: center;
}

.project-title a {
  padding: 2%;
  background-color: #d99804;
  border: none;
  color: rgb(201, 196, 196);
  width: 30%;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* contact */

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.contact > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.social {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
  background-color: rgba(2, 2, 39, 0.5); /* 50% transparency */
  border-radius: 20px;
}
.social a {
  margin: 1%;
  padding: 15px 20px;
}

.social a i {
  padding: 10px 20px;
  font-size: 2rem;
  color: rgb(201, 196, 196);
  border-radius: 10px;
}
.form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form > form {
  width: 35%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form > form > input,
textarea {
  background-color: rgb(201, 196, 196);
  width: 100%;
  padding: 2%;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  margin: 1%;
}
footer {
  text-align: center;
  color: grey;
}

/* media Queries */

@media (max-width: 800px) {
  .home {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    width: 90%;
  }

  .home .item1 {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .item1 .intro {
    width: 100%;
  }

  .item1 .intro h1 {
    font-size: 2rem;
    width: 100%;
  }

  .quote {
    display: none;
  }

  .home .item2 {
    width: 90%;
    align-items: baseline;
    border-radius: 0;
  }

  .title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
  }

  .home .item2 img {
    width: 100%;
    height: 15rem;
  }

  .home .item1 .btn,
  .home .item1 .btn-cv {
    width: 47%;
  }

  .sidebar ul li a i {
    display: block;
    font-size: 1.5rem;
  }

  .sidebar ul li a p {
    display: none;
  }

  .sidebar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 70%;
    padding: 10px 20px;
    z-index: 1000;
  }

  .skills {
    flex-direction: column;
    width: 90%;
  }
  .container {
    flex-direction: column;
  }

  .bio {
    width: 80%;
  }

  .skill-items {
    width: 80%;
  }

  .datascience,
  .web {
    width: 90%;
    margin-top: 2rem;
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .datascience > div,
  .web > div {
    width: 100%;
  }

  .projects {
    flex-direction: column;
  }

  .project {
    width: 80%;
    margin-top: 2rem;
  }

  .project-title {
    z-index: 1;
    top: -105px;
    width: 98%;
  }

  .contact {
    align-items: center;
  }

  .contact .form {
    width: 80%;
  }

  .form > form {
    width: 70%;
  }

  .form > form input {
    padding: 3%;
  }

  .social div {
    width: 40%;
  }

  .portfolio p {
    width: 80%;
  }

  .form > form button {
    width: 50%;
    border-radius: 0;
    padding: 10px;
  }
}
